<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Web app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
  </head>
  <body>
    <header>
      <h2>Occurrences of words</h2>
    </header>
    <main>
      <form method="post">
        <label for="words">List of words : </label>
        <textarea name="words" rows="8" cols="80"></textarea>
        <input type="submit">
      </form>
      <h3>Result : </h3>
      <p>{{ list_of_tuples }}</p>
    </main>
  </body>
</html>
